{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %}Log-in{% endblock %} {% block content %}
<div class="card" style="width: 400px; margin-left: 350px;">
    <div class="card-body">
        <form action="{% url 'login' %}" method="post">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="form-group">
                <fieldset class="form-group">

                    <div class="border-bottom mb-4">
                        <a href=" {% url 'register' %} " class="float-right btn btn-outline-primary">Sign up</a>
                        <h4 class="card-title mb-4 mt-1">Sign in</h4>
                    </div>
                    {% csrf_token %} {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="hidden" name="next" value="{{ next }}">Sign in</button>
                </div>
            </div>
        </form>
        <div class="border-top pt-3 mt-2">
                <small class="text-muted">
                <a class="btn btn-primary btn-block" href="{% url 'social:begin' 'facebook' %}">Sign in with
                Facebook</a>
               </small>
               <small class="text-muted">
                <a class="btn btn-info btn-block mt-2" href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
               </small>
                <small class="text-muted">
                <a class="btn btn-danger btn-block mt-2" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
               </small>
            
                <small class="text-muted mt-5">
                Did you forget your Password?<a class="btn btn-secondary  btn-block" href="{% url 'password_reset' %}">Forgotten your password?</a>
                </small>
            <br>
        </div>
    </div>
</div>
{% endblock %}