{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change your password{% endblock %}
{% block content %}
<div class="card" style="width: 400px; margin-left: 350px;">
    <div class="card-body">
 {% csrf_token %}
 <form method="post">
    <div class="form-group">
        <fieldset class="form-group">
    
            <div class="border-bottom mb-4">
               
                <h4 class="card-title mb-4 mt-1">Change your password</h4>
                <p>Use the form below to make a change to your password.</p>
            </div>
           {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" value="Change">Change Password</button>
        </div>
    </div>
 
 </form>
    </div>
</div>

{% endblock %}