{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock %}
{% block content %}

 <div class="card" style="width: 400px; margin-left: 350px;">
    <div class="card-body">
 <form method="post">
    <div class="form-group">
        
        <fieldset class="form-group">
    
            <div class="border-bottom mb-4">
               
                <h4 class="card-title mb-4 mt-1">Forgotten your password?</h4>
                <p>Enter your e-mail address to obtain a new password.</p>
            </div>
            {% csrf_token %} {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" value="Send e-mail">Change Password</button>
        </div>
    </div>
 
 </form>
    </div>
</div>
{% endblock %}